<header>
  <h2 class="logo">Logo</h2>
  <nav class="navigation">
    <a href="#" class="active">Home</a>
    <a href="#">About</a>
    <a href="#">Service</a>
    <a href="#">Contact</a>
  </nav>
</header>

<section class="parallax">
  <img
    src="assets/image/hill1.png"
    id="hill1"
    [style.top.px]="scrollValue * 1"
  />
  <img src="assets/image/hill2.png" id="hill2" />
  <img src="assets/image/hill3.png" id="hill3" />
  <img
    src="assets/image/hill4.png"
    id="hill4"
    [style.left.px]="scrollValue * -1.5"
  />
  <img
    src="assets/image/hill5.png"
    id="hill5"
    [style.left.px]="scrollValue * 1.5"
  />
  <img src="assets/image/tree.png" id="tree" />
  <h2 id="text" [style.marginTop.px]="scrollValue * 2.5">parallax Website</h2>
  <img
    src="assets/image/leaf.png"
    id="leaf"
    [style.top.px]="scrollValue * -1.5"
    [style.left.px]="scrollValue * 1.5"
  />
  <img src="assets/image/plant.png" id="plant" />
</section>

<section class="sec">
  <h2>Parallax Scrolling website</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id provident
    voluptas adipisci, harum odio dolore incidunt accusamus iusto enim.
    Temporibus, quos? Sunt molestias, alias quas nobis, assumenda quo cumque non
    optio enim aliquam, mollitia libero doloremque repellendus natus reiciendis
    quis molestiae dolores voluptatibus minus dolorem nostrum at? Necessitatibus
    quae incidunt nulla similique, soluta, facilis perspiciatis expedita ullam
    eaque non et omnis amet dolorem libero. Aperiam mollitia dolor repudiandae
    perspiciatis cum fuga debitis obcaecati exercitationem magni commodi nostrum
    reprehenderit eos fugit iure maiores, voluptas, quas pariatur dicta tempora
    repellendus. Libero quisquam iure optio reiciendis. Quisquam, reiciendis,
    fugiat doloremque iusto eveniet blanditiis voluptatum animi harum ipsa
    dolore quibusdam saepe. Mollitia, culpa ratione iusto debitis natus unde
    repellat consequatur minima. Accusamus facere explicabo optio aut
    reprehenderit eligendi temporibus provident illum? Dolore maiores nobis
    eligendi fugit adipisci mollitia doloremque, voluptatum sint magni
    reiciendis est! Minus, porro nam cum corrupti iusto expedita fugiat minima
    esse odio sunt, odit optio quidem, eos praesentium distinctio nulla aperiam
    suscipit libero fugit perspiciatis blanditiis sequi! Maiores cumque
    distinctio quo dolor harum vitae earum dolore nihil perspiciatis! Esse
    veniam ullam voluptatem maxime natus dicta, excepturi at ab debitis sequi,
    id molestias? Aliquam id praesentium nam nemo nobis fugit maxime molestias
    cupiditate quos inventore libero est provident aperiam, nesciunt mollitia
    commodi veritatis. Nulla rerum ipsa soluta enim. Iure illo possimus hic
    doloribus repellendus odit adipisci, consequatur alias temporibus veritatis
    blanditiis exercitationem similique! Id alias modi ipsam ad laboriosam.
    Quasi voluptate modi praesentium enim iste itaque. Qui at, consequuntur quo
    recusandae fugiat a, harum repudiandae placeat aut maiores praesentium
    dignissimos. Accusantium consequuntur eaque amet voluptate dolores quas
    assumenda porro veritatis nulla veniam, totam vero fugiat sunt quia alias
    dolore obcaecati itaque, sapiente perferendis optio rem ducimus corrupti.
    Recusandae inventore nihil consequatur, aut magni ab repellendus vero,
    suscipit explicabo facere quis dolorem unde sit excepturi temporibus. Sint
    temporibus ex cumque veniam a maxime ipsa molestiae doloribus nisi eveniet
    itaque culpa facere ut rem sunt iste voluptatibus illum, hic, dignissimos
    reiciendis dicta repellendus. Modi, inventore obcaecati, expedita sunt
    iusto, fuga vitae illum cum similique nobis quia. Inventore, porro cumque.
    Recusandae quaerat, autem fugiat facilis distinctio ratione doloremque
    labore ut illo dicta ipsa eaque beatae nihil accusantium adipisci provident
    inventore sed velit! Non id quo esse dolore provident ut aliquam, atque
    commodi expedita suscipit optio debitis neque porro eos dignissimos qui
    soluta repudiandae odio illo doloremque! Aliquam, esse consectetur quis
    suscipit dolorem eum asperiores consequatur aspernatur nemo delectus,
    laborum veniam? Dolores, atque. Id dolore soluta sed! Assumenda, nam aliquam
    reprehenderit sed quasi consectetur debitis possimus, vero ipsam facilis
    veritatis hic, autem iusto dolores. Voluptatum quos veniam vitae voluptate
    ab numquam ut cupiditate amet praesentium corporis nam eaque tempora magni,
    aspernatur quia necessitatibus sint quod harum? Doloremque voluptatibus,
    deleniti facilis, quaerat, mollitia autem quos possimus nam nesciunt et
    dolores reiciendis tempore ab aperiam! Tenetur fuga velit blanditiis tempora
    assumenda fugit in ad officiis laboriosam saepe, dolore iusto molestias!
    Quidem modi aspernatur enim ratione quasi recusandae voluptatibus, ea culpa
    laudantium? Modi accusamus facilis similique perspiciatis molestiae
    veritatis dolorem. Quaerat expedita itaque ab debitis fugit, voluptate
    cumque et ratione quae, vero eligendi sed accusamus nostrum, amet vitae
    reiciendis magnam? Dolor hic amet tempora saepe quos minima quam quaerat
    repudiandae cum voluptatibus, illo dolores animi numquam iure nemo
    consequuntur provident tenetur. Nihil rem totam sequi nesciunt soluta, magni
    alias assumenda temporibus consectetur molestias laborum modi enim,
    recusandae cumque sit. Architecto incidunt, nisi eaque atque ipsam,
    doloremque eligendi quisquam est consectetur, assumenda earum? Excepturi,
    corporis deserunt molestiae doloribus laborum labore placeat temporibus
    assumenda ut eligendi unde, ad quisquam aliquid cumque iure! Debitis quis
    animi maxime incidunt expedita et, itaque hic tempore nesciunt aut eius
    dolor esse nobis earum odit accusamus laudantium ipsam labore placeat fuga
    ipsum? Ab nobis numquam reiciendis eaque quod laboriosam, omnis culpa fugiat
    animi illo maiores deleniti temporibus vitae harum eligendi in quos beatae
    delectus praesentium accusamus rerum ipsum voluptatibus. Rem repellat sequi
    quos nisi animi sit, a magni laboriosam officiis aliquam! Commodi maiores
    veritatis ipsam in quia similique. Debitis enim, molestias ducimus
    cupiditate adipisci necessitatibus consequuntur ipsum ad accusamus fugiat
    recusandae nesciunt laborum ipsa pariatur repellat nostrum quia voluptatem
    voluptatum nihil mollitia natus? Iusto, blanditiis asperiores. Ducimus quos
    magni architecto error suscipit optio saepe minima officiis, nesciunt rem
    perferendis deleniti animi quidem? Ab asperiores, magnam, iste fuga, quos
    recusandae repellat magni blanditiis tempore necessitatibus laboriosam id
    hic veniam expedita porro commodi iure? Sint animi totam ipsam quod
    repellendus molestiae, doloremque ab voluptates eaque sunt nostrum quasi,
    exercitationem deserunt commodi veniam maiores possimus, architecto quo
    quibusdam voluptas accusantium. Dolorem ea quibusdam mollitia est expedita
    magni deserunt odit et temporibus eius totam, voluptatem delectus odio
    officiis, doloribus libero ratione vero ipsa iste esse! Fuga hic, ipsa
    laudantium natus, repellendus in error ab nulla ad, omnis ea architecto
    ducimus assumenda odit. Odit iste laudantium placeat, excepturi, reiciendis
    neque non voluptatum assumenda dolores in totam reprehenderit, adipisci
    dignissimos veritatis sunt nesciunt pariatur eos. Autem, earum rem? Iste
    reiciendis, quibusdam eligendi quae tempore ipsum ab quod unde a assumenda
    illum incidunt facere odio culpa, ad perferendis natus deserunt amet magnam.
    Aut excepturi ipsum ad tenetur mollitia, quo temporibus earum pariatur
    expedita numquam molestiae nam sapiente iusto labore quod vitae atque minima
    doloremque totam ea repudiandae deserunt obcaecati? Ipsa ullam corrupti
    commodi ut eaque ab similique distinctio, ipsam excepturi molestias magni
    beatae cupiditate? Perferendis saepe hic architecto nostrum veniam dolor
    impedit, nisi praesentium. Sapiente dolorem error animi fuga molestiae
    cupiditate nam numquam, pariatur, labore consequatur, neque similique omnis
    consectetur. Nostrum unde deleniti quia eaque esse enim, alias eum impedit
    sunt exercitationem? Tenetur eum dolores totam veniam autem enim vel
    inventore. Temporibus, minima, quas esse autem eum veniam, cupiditate
    corrupti fugit at non facere. Labore dolor eveniet aliquid quibusdam officia
    nobis cupiditate voluptate consequuntur totam sequi? Beatae assumenda
    cupiditate ipsa debitis, necessitatibus, magnam illo ad perspiciatis
    reprehenderit explicabo quam, aliquid inventore! Quaerat architecto dicta
    fugit incidunt veritatis porro culpa perferendis nemo facere maiores, unde
    ab ut molestias, odit sint molestiae blanditiis error laudantium eligendi
    dolorem praesentium necessitatibus ullam atque! Unde, ducimus reiciendis.
    Ad!
  </p>
</section>

<router-outlet></router-outlet>
