@import url("htpps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 100px;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: #359381;
  pointer-events: none;
  margin-right: 120px;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #359381;
  color: white;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background: #003329;
}

#text {
  position: absolute;
  font-size: 6em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.sec {
  position: relative;
  background: #003329;
  padding: 100px;
}

.sec h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  #text {
    font-size: 4em;
  }
}
